@media (max-width: 320px) {

main {
  width: 285px;
  margin: 0 9px;
  padding: 0 2px;
}

h1 {
  top: -37px;
  margin: 0;
}

section {
  margin: 1px;
}

article {
  margin: 1px;
}

nav {
  padding: 1.2em .2em 0 10px;
  font-size: 1.4em;
}

.nav {
  padding: .5em;
  display: block;
}

.nav:last-child {
  border-right: 0;
}

.doc {
  border-radius: 50%;
}

#noborder img{
  border: none;
  width: 2em;
}

.panel {
    left: -320px; /*or width of your navigation panel*/
    width: 320px; /*should match the above value*/
}

.disappear {
  display: none;
}

.staticsize {
  max-width: 28.5%;
  display: inline-block;
}

#index {
  position: relative;
  top: 0px;
  left: 10px;
}

#frontimage {
  right: -15px;
}

#topbar h1 {
  font-size: 3em;
}
}
