@media (max-width: 320px) {

main {
  width: 285px;
  margin: 0 9px;
  padding: 0 2px;
}

h1 {
  top: -25px;
  left: 20px;
}
section {
  margin: 1px;
}

article {
  margin: 1px;
}

nav {
  padding: 1.2em .2em 0 10px;
  font-size: 1.4em;
}

.nav {
  padding: .5em;
  display: block;
}

.nav:last-child {
  border-right: 0;
}

.doc {
  border-radius: 50%;
}

#noborder img{
  border: none;
  width: 2em;
}

.panel {
    left: -320px; /*or width of your navigation panel*/
    width: 320px; /*should match the above value*/
}

.wrap {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
}

.menu-link {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75em;
  padding-right: .12em;
}

.disappear {
  display: none;
}

.staticsize {
  max-width: 28.5%;
  display: inline-block;
}

#index {
  padding-top: 60px;
}
}
