@import url(https://fonts.googleapis.com/css?family=Norican);

body {
  font-family: sans-serif;
  background-image: url(../img/symphony/symphony.png);
  color: #222;
}

main {
  padding: 1px 20px;
  background-color:white;
  width: 35em;
  margin: 0 auto;
  border: .33em rgb(71, 183, 178) solid;
}

section {
  margin: 10px;
}

article {
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

main a {
  text-decoration: underline;
}

img {
  border: .33em rgb(20, 68, 68) solid;
}

table {
  padding: 3px;
  border-top: 2px solid rgb(20, 68, 68);
  border-left: 2px solid rgb(20, 68, 68);
  border-collapse: collapse;
}

table, th, td {
  padding: 4px;
  border-right: 2px solid rgb(20, 68, 68);
  border-bottom: 2px solid rgb(20, 68, 68);
}

a:hover {
  font-weight: bold;
  color: rgb(71, 183, 178);
}

h1 {
  font-family: Norican, sans-serif;
  display: inline-block;
  position: relative;
  top: -60px;
  left: 35px;
  height: 0;
  color: rgb(71, 183, 178);
}

h2, h3 {
  color: rgb(20, 68, 68);
}

h3 {
  padding-left: .5em;
}

div div {
  height: 10px;
}

nav {
  padding: 1.2em .25em 0 30px;
  font-size: 1.2em;
  font-weight: bolder;
  display: inline-block;
}

iframe {
  border: 2px solid rgb(20, 68, 68);
}

.staticsize {
  max-width: 30%;
  display: inline-block;
}

.nav {
  padding: .25em;
  display: block;
}

.nav:last-child {
  border-right: 0;
}

.noborder img{
  border: none;
}

#small img {
  padding-top: 10px;
  width: 3em;
}

#frontimage {
  position: absolute;
  bottom: -5px;
  right: 0px;
}

#topbar h1 {
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
}

/* Menu tab */
#index {
  top: -105px;
  left: 100px;
}

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.panel {
    background: #101820;
}

.panel a {
    color: #fff;
}

.menu-link {
  font-size: 1.75em;
  padding-right: .25em;
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;

    -ms-touch-action: none;
    touch-action: none;
}

#size {
    font-size: 5em;
}
}
