@import url(https://fonts.googleapis.com/css?family=Norican);

body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

main {
  padding: 1px 20px;
  background-color:rgb(211,211,211);
  width: 36em;
  margin: 1em 1em auto;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 4em;
  background: rgb(120, 120, 120);
  position: fixed;
  width: 100%;
  z-index: 1;
}
section {
  margin: auto;
}

article {
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

main a {
  text-decoration: underline;
}

img {
  border: .33em rgb(20, 68, 68) solid;
}

table {
  padding: 3px;
  border-top: 2px solid rgb(20, 68, 68);
  border-left: 2px solid rgb(20, 68, 68);
  border-collapse: collapse;
}

table, th, td {
  padding: 4px;
  border-right: 2px solid rgb(20, 68, 68);
  border-bottom: 2px solid rgb(20, 68, 68);
}

a:hover {
  font-weight: bold;
  color: rgb(71, 183, 178);
}

h1 {
  font-family: sans-serif;
  display: inline-block;
  position: fixed;
  top: -22px;
  color: white;
  margin-top: 0;
  padding-left: 4em;
  z-index: 2;
}

h1 img {
  border: none;
  position: relative;
  top: 45px;
  width: 57px;
  padding-right: 20px;
}

h2, h3 {
  color: rgb(20, 68, 68);
}

h3 {
  padding-left: .5em;
}

div div {
  height: 10px;
}

nav {
  padding: 2.8em .25em 0 10em;
  font-size: 1.2em;
  font-weight: bolder;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  border: 2px solid rgb(20, 68, 68);
}

p img {
  border: none;
  height: 2em;
  position: relative;
  top: .5em;
}

.staticsize {
  max-width: 30%;
  display: inline-block;
}

.nav {
  padding: .25em;
  display: block;
}

.nav:last-child {
  border-right: 0;
}

.noborder img{
  border: none;
}

#small img {
  padding-top: 10px;
  width: 3em;
}

#frontimage {
  position: absolute;
  bottom: -5px;
  right: 0px;
}

#topbar h1 {
  margin: 0 auto;
  font-size: 5em;
  text-align: center;
}

/* Menu tab */
#index {
  top: -105px;
  left: 100px;
}

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.panel {
    background: #101820;
}

.panel a {
    color: #fff;
}

.menu-link {
  font-size: 1.75em;
  padding-right: .25em;
}


#imagelightbox
{
    position: fixed;
    z-index: 9999;

    -ms-touch-action: none;
    touch-action: none;
}

#size {
    font-size: 5em;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	margin:0;
	padding:0

}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:1em;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
